<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    {{ message }}

    <!-- Link to the other three pages -->
    <ul>
      <li><a href="/unit-convert/temp_conversion">Temperature</a></li>
      <li><a href="/unit-convert/weight_conversion">Weight</a></li>
      <li><a href="/unit-convert/Length_conversion">Length</a></li>
    </ul>
  </body>
</html>